
    /* browsing talents */
    .browsing-cards{
      transition: 0.1s all ;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }

    .browsing-cards:hover{
      transform: translateY(-3px);
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3); 
    }
    

    /* @media only screen and (min-width:700px){
      .browsing-cards{
      transition: 0.1s all ;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }
      .browsing-cards:hover{
      transform: translateY(-3px);
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3); 
    }
    } */
