 /* enterprise suite section */

 .fortalent-container{
  margin-top: 110px;
  padding: 0 13px;
 }

 .fortalent-row{
  border-radius: 8px;
  overflow: hidden;
 }

 .fortalent-main-content{
  background-color: rgb(31, 87, 195);
 }

 .fortalent-content{
  padding: 35px 45px 35px 35px;
  height: 100%;
 }

 .fortalent-title{
  width: 80%; 
  font-size: 56px; 
  line-height: 58px;
  color: white;
 }

 .fortalent-desc{
  width: 75%;
  padding-bottom: 100px;
 }

  .fortalent-flex{
    border-top: solid 1px white;
  }
 
 .fortalent-image{
  width: 100%; 
  height:100%;
  object-fit: cover;
  display: block;
 }

 .fortalent-button{
  color:rgb(31, 87, 195);
  background-color: white;
  padding: 9px 22px 9px 22px;
  border: none;
  font-size: 16px ;
  border-radius: 30px;
  font-weight: 600;
  font-family: var(--font-family-main);

 }



 @media only screen and (max-width:1200px){
  .fortalent-container{
    margin-top: 70px;
   }
  
  .fortalent-content{
    padding: 40px 25px 29px 30px;
  }
  .fortalent-title{
    font-size: 42px;
    line-height: 45px; 
   }
 }

 @media only screen and (max-width:768px){
   .fortalent-container{
    margin-top: 55px;
    padding: 0;
   }
  
  .fortalent-content{
    padding: 20px 15px;
  }
  .fortalent-row{
    border-radius: 0px;
    overflow: hidden;
   }
   .fortalent-title, .fortalent-span{
    font-size: 38px; 
    line-height: 40px;
   }
   .fortalent-image-container{
    aspect-ratio: 2/1;    
    /* 2- width 1-height  to change the aspect ratio of an element eg: 16/9 or 16:9 for videos*/
   }
  
 }

 @media only screen and (max-width:400px){
  .fortalent-container{
    margin-top: 60px;
   }
  .fortalent-title{
    width: 100%;
   }
  .fortalent-desc{
    width: 90%;
    padding-bottom: 50px;
  }
  .fortalent-title, .fortalent-span{
    font-size: 35px; 
    line-height: 38px;
   }
   
 }